In [5]:
# https://docs.google.com/spreadsheets/d/1wCT96SP92FHnOkvLzEBELc6CYzYce_8YsFBmAKhxpDU/edit?usp=sharing
import pandas as pd 
import urllib

In [9]:
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQsmMfuH1mNMYfZen_KtNSm99oxvMIxBX2dP-A3X9nC2z-UMZeGiGoGJC3kc6a4e5JM3gsvF8av_C-R/pub?gid=1518743404&single=true&output=csv'
urllib.request.urlretrieve(url,"file.csv")

('file.csv', <http.client.HTTPMessage at 0x10854c3d0>)

In [11]:
df = pd.read_csv('file.csv')
df.head(5)

,Name,Location Input,Type,Distance from MT,Distance from DT,walking Directions from MT,walking Directions from DT,transit directions from MT,transit directions from DT,Been there before?,Midtown Location,Atlanta Location
0,Piedmont Park,#NAME?,Park,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,Yes,"North Ave NW, Atlanta, GA 30332","55 Gilmer St SE, Atlanta, GA 30303"
1,Centennial Olympic Park\n\n,#NAME?,Park,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,Yes,NaN,NaN
2,Michael C Carlos Museum,#NAME?,Museum,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,NaN,NaN,NaN
3,Center for Puppetry Arts,#NAME?,Museum,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,NaN,NaN,NaN
4,World of Coca Cola,#NAME?,Museum,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,Yes,NaN,NaN